.input__validation-feedback {
  color: $btn-color-primary;
  margin-bottom: $gap;
}

.theme-blue .bs-datepicker-head {
  background-color: $btn-color-primary;
}

.theme-blue .bs-datepicker-body table td span.selected {
  background-color: $btn-color-primary;
}

.theme-blue .bs-datepicker-body table td.week span {
  color: red;
}
