.modal-content {
  background-color: $bg;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-dark {
  background-color: $bg;
  border-radius: $border-radius;
}


.modal-backdrop.show {
  opacity: 1;
  background-image: $bg-color;
}
